[Desktop Entry]
Version= 1.0
Icon= /home/bildwechsel-fuer-hybride-veranstaltung/img/logo_m4p0.jpg
Name=py
Exec=/usr/bin/env python3 /home/bildwechsel-fuer-hybride-veranstaltung/code/Programm.py
Terminal=true
Type=Application
